<div class="new-recipe-form">
  <% if logged_in? %>
    <div class="new-recipe-box">
      <h1>Got some Haggis?</h1>
        <%= render 'form' %>
    </div>
   <% else %>
      <p class="session-fail"><strong>Please login  before adding a new recipe!</strong></p>
  <% end %>
</div>

<div align="right" class="conversions">
  <p>
  1 cup = 250 mL,<br>
  1 pint = 500 mL<br>
  1 quart = 1 L <br>
  1 gallon = 4 L <br>
  </p>
</div>
