
<div class="recipe-show-header">
  <h2 align="center"><%= @recipe.name %></h2>
</div>


<div class="ingedients-list">
  <h3><%= @recipe.name %> 's Ingredients: </h3>
 <ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li>
      <p><%= ingredient.item %></p>
      <p><%= ingredient.quantity %></p>
    </li>
  <% end  %>
</ul>
</div>
