<li>
<input type="text" name="recipe[ingredient][item<%= count %>]" id="recipe_ingredient_item" placeholder="ingredient">
<!-- dropdown with measurements (measurements - Measurement.all, name="recipe[ingredient][measurement_id]") -->
</li>
