/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
  background-color: hsl(2, 57%, 40%);
  color: #019b3f;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
}

.body-container {
  background-color: white;
  border-right: 5px solid #AAAAAA;
  border-left: 5px solid #AAAAAA;
  min-height: 850px;
  width: 60%;
  display: block;
  margin: auto;
}

.homepage-image-container {
  width: 100%;
  padding-bottom: 25px;
}

.main-page-image {
  display: block;
  margin: auto;
  margin-top: 50px;
}

.add-ingredient-link{
  color: #019b3f;
}

.recipe-box ul{
  flex-direction: row;
  justify-content: center;
    padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.recipe-box li {
  background: #EBFC67;
  padding: 25px;
  width: 300px;
  margin: 30px;
}
.recipe-box li a {
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
  text-decoration: none;
  letter-spacing: 2px;
}
.recipe-box li a:link {
  color: #b74e28;
}
.recipe-box li a:visited {
  color: #600b2a;
}


.category-box ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}
.category-box li {
  background: #76BE9B;
  padding: 25px;
  width: 300px;
  margin-top: 70px;
  margin-right: 10px;
  margin-left: 10px;
}
.category-box li a {
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
  height: 100%
  text-decoration: none;
  letter-spacing: 2px;
}
.category-box li a:link {
  color: #b74e28;
}
.category-box li a:visited {
  color: #600b2a;
}

.category-box li p {
  font-size: 10px;
  font-family: 'Lato', sans-serif;

}

.category-box li dt {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;

}

 .button {
  background: none;
  padding: 0;
  border: none;
  font: inherit;
  text-decoration: none;
  color: #8C8C8C;
  font-size: 7pt;
  margin: 3px 30px;
}


.layout-header {
  font-family: 'Spectral SC', serif;
  font-size: 2em;
  margin-top: 30px;
  margin-left: 1cm;
  letter-spacing: 2px;
}

.category-header{
 font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

.category-box h3 {
  font-family: 'Montserrat', sans-serif;
}

.conversions {
  float: right;
  position: absolute;
  border: 1px solid white;
  margin-right: 20px;
}

.new-recipe-form {
/*  display: flex;
  justify-content:center;*/
}


nav ul  {
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 0;
}

nav li {
  display:inline;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

nav li a {
  display:inline;
  color: #019b3f;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 40px;
  height: 40px;
}

.registration-container { 
  width: 40%;
  display: block;
  margin: auto;
  text-align: center;
}

.registration-form-field {
  width: 80%;
  height: 20px;
  font-size: 18px;
}

.form-button { 
  padding: 5px;
  font-size: 1.3em;
}

.new-haggis-label {
  font-size: 18px;
  color: gray;
}

.new-haggis-ingredient-label {
  font-size: 18px;
  color: gray;
}

.registration-form-field {
  width: 80%;
  height: 20px;
  font-size: 18px;
}

.ingredient-form-field {
  height: 20px;
  font-size: 18px;
  width: 40%;
}

.ingredients-add-container {
  margin-top: 10px;
}

.new-ingredient-container {
  margin-top: 10px;
}
